body{
  background-color: #FFC6D3;
  text-align: center;
  font-family: 'Sarabun', sans-serif;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
  color: #850000;
  padding-bottom: 10px;
}
h3{
  color: #E0144C;
}
.header{
  padding: 30px;
}
.btn-submit{
  padding: 10px;
}
.btn-success{
  background-color: #54B435;
  border: 0;
}
.middle{
  padding: 10px;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}
#form{
  margin: 0 20%;
  background-color: #E0144C;
}
/* .mid-head{
  text-align: left;
} */
.footer{
  /* text-align: center; */
}
.heart-sign{
  font-size: 150px;
  color: #D2001A;
  padding-top: 10px;
  animation: pulse 1s linear infinite;
}

@-webkit-keyframes "pulse" {
0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
}
100% {
    -webkit-transform: scale(1);
   transform: scale(1);
}
}
